

:root {
    --white: #ffffff;
    --gray: #F1F1F1;
    --dark-gray: #9a9a9a;
    --main-green: #426B1F;
    --light-main-green: #578a2a;
    --soft-green: #B7F0BD;
    --gold: #daa520;
    --black: #000000;
}