

:root {
    --white: #ffffff;
    --gray: #b6b6b6;
    --dark-gray: #5e5e5e;
    --main-red: #822516;
    --light-main-red: #9E2B10;
    --main-brown: #B26F38;
    --light-main-brown: #D19966;
    --gold: #daa520;
    --black: #000000;
    --dark: #121212;
    --not-white: #f9f9f9;
    --blue-wave: #00a0b2;
}