

:root {
    --white: #ffffff;
    --gray: #F1F1F1;
    --dark-gray: #9a9a9a;
    --main-red: #822516;
    --light-main-red: #9E2B10;
    --main-brown: #B26F38;
    --light-main-brown: #D19966;
    --gold: #daa520;
    --black: #000000;
}